@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
}

:root {
        --branco: #f5f5f5;
        --cinza-claro: #666666;
        --cinza-escuro: #363636;
        --fonte-principal: "Poppins", sans-serif;
        --highlight-color: #ff4500;
        --preto: #18191b;
        --preto-azulado: #0c0c0d;
        --vermelho: #af1e22;
        font-size: 14px;
}



body {
        background-color: var(--preto);
        color: var(--branco);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-width: 375px;
        font-feature-settings: "liga", "clig", "calt";
        font-feature-settings: "liga", "clig", "calt";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        /* Para WebKit (Chrome, Safari) */
        -moz-osx-font-smoothing: grayscale;
        font-family: var(--fonte-principal)
                /* Para Firefox no macOS */
}

section {
        width: 100vw;
        padding: 4rem 0;
        min-height: 70vh;
}

a {
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-decoration: none;
}

a:hover,
button:hover {
        transform: scale(1.05);
}

.btn-vermelho {
        text-decoration: none;
        color: var(--branco);
        font-weight: 300;
        font-size: clamp(1rem, 2vw, 1.3rem);
        width: 200px;
        aspect-ratio: 4/1;
        vertical-align: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 2rem;
        background-color: var(--vermelho);
}

.btn-vermelho:hover {
        background-color: #77181c;
}

h1,
h2,
h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
}

main {
        position: relative;
}

.detalhe-vertical {
        position: relative;
        display: inline-block;

}

.detalhe-vertical {
        padding-left: 10px;
        border-left: 1.5px solid var(--vermelho);
        padding: 0 1rem;
}

.detalhe-div {
        width: 60%;
        max-width: 110px;
        height: 1.5px;
        margin: 0 auto;
        background-color: var(--vermelho);
}

.content {
        height: 2000px;
        padding: 10px;
        box-sizing: border-box;
}

.voltar-ao-topo-container {
        position: relative;
}

.voltar-ao-topo {
        position: fixed;
        bottom: 60px;
        right: 10px;
        padding: 10px;
        text-align: center;
        z-index: 100;

}

.voltar-ao-topo img {
        filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.274));
}

.detalhe-vertical {
        position: relative;
        display: inline-block;
        padding-left: 10px;
        border-left: 1.5px solid var(--vermelho);
        padding: 0 1rem;
}

.detalhe-div {
        width: 60%;
        max-width: 110px;
        height: 1.5px;
        margin: 0 auto;
        background-color: var(--vermelho);
}

/* header */
.header {
        font-weight: 200;

        position: sticky;
        top: 0;
        left: 0;
        z-index: 25;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--preto);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.144);

        width: 100vw;
        padding: 0 1rem;
        height: 60px;
}

.header a,
li,
.header a:visited {
        color: var(--branco);
        text-decoration: none;
}

.header a:hover,
.header .accordion-label:hover {
        color: var(--cinza-claro);
}

.logo {
        width: 50%;
        max-width: 100px;
}

.logo img {
        width: 100%;
}

/* off-screen-menu */
.off-screen-menu {
        align-items: left;
        background-color: var(--preto);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);
        display: flex;
        flex-direction: column;
        font-family: var(--font-princial);
        font-size: 1rem;
        height: 100vh;
        justify-content: space-around;
        max-width: 450px;
        padding: 1rem 0;
        position: fixed;
        right: -650px;
        text-align: left;
        transition: .6s ease-in-out;
        top: 0;
        width: 80%;

}

.off-screen-menu.active {
        right: 0;
}

/* nav */
nav {
        padding: 1rem;
        display: flex;
        background-color: var(--bg-color);

}

.nav-list {
        padding: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

}

/* ham menu */
.ham-menu {
        height: 30px;
        width: 25px;
        margin-left: auto;
        position: relative;
}

.ham-menu span {
        height: 2px;
        width: 100%;
        background-color: var(--branco);
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
}

.ham-menu span:nth-child(1) {
        top: 25%;
}

.ham-menu span:nth-child(3) {
        top: 75%;
}


.ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
        opacity: 0;
}

.ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
}

/* Accordion */

.nav-accordion input {
        display: none;
}

.nav-accordion label {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
}

.nav-accordion-content {
        padding: 1rem 1rem 1rem 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .6s ease-in-out;
        background-color: var(--preto);
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        opacity: 0;
}

.nav-accordion-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-left: 1.5px solid var(--vermelho);
        padding: 0 1rem 0 1rem;
}


.nav-arrow {
        transition: transform 0.3s ease-in-out;
}

.nav-arrow img {
        width: 1rem;
}


[id^=accordion]:checked~.nav-accordion-content {
        max-height: 1000px;
        opacity: 1;
}

/* icones */
.nav-icons {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;

}

.nav-icons .nav-link img {
        width: 20px;
}

.horizontal-menu {
        display: none;
        width: 100%;
}

.horizontal-menu-list {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        gap: 3rem;
        z-index: 1;
        margin-bottom: 0;
}

.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1;
}

.button {

        width: 80%;
        max-width: 250px;
        padding: 10px 20px;
        margin: 1rem 0;

        font-family: "Poppins";
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;

        border: 1px solid var(--dourado);
        color: var(--dourado);
        cursor: pointer;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        backdrop-filter: blur(1px);

}

.button:hover {
        color: var(--branco);
        backdrop-filter: none;
}

.button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        background-color: var(--dourado);
        box-shadow: 0 0 10px 60px var(--dourado);
        z-index: -1;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: width .3s ease-in-out, opacity 0.3s ease-out;
        opacity: 0;
}

.button:hover::before {
        width: 200%;
        height: 200%;
        opacity: 1;
        transition: width .8s ease-in-out, opacity 0.6s ease-out;
}


/* whatsapp button */
.whatsapp-btn {
        position: fixed;
        background-color: #42B759;
        width: 155px;
        height: 30px;
        bottom: 40px;
        right: 16px;
        z-index: 100;
        padding: 6px;
        font-size: 0.6rem;
        border-radius: 15px;
        border: 2px solid var(--branco);
        opacity: 0.95;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);

}

.whatsapp-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
}

.whatsapp-img {
        width: 15px;
}

.whatsapp-btn a {
        color: var(--branco);

}

.whatsapp-link p {
        margin: 0;

}

/* home */
#home {
        position: relative;
        min-height: 0;
        padding: 2rem 0 0;
        background: url("../img/capa-zara.webp") center/cover no-repeat;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.home::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, rgba(3, 3, 3, 0.514), rgba(0, 55, 128, 0));
        z-index: 1;
}

.home-img {
        width: 90%;
        max-width: 375px;
        filter: drop-shadow(2px 2px 4px #000);
        z-index: 2;
}

/* about */
.about,
.diferencial {
        width: 100%;
        min-height: 40vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
}

.about-article,
.diferencial-article {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
}

.about-card,
.diferencial-card {
        background-color: var(--preto-azulado);
        padding: 2rem;
        display: flex;
        min-height: 300px;
        flex-direction: column;
        gap: 1rem;
        font-weight: 300;
        font-size: clamp(.8rem, 2.5vw, .9rem);
}


.about-card,
.diferencial-img {
        border-radius: 0 8px 8px 0;
}

.diferencial-card,
.about-img {
        border-radius: 8px 0 0 8px;
}

.about-img,
.diferencial-img {
        width: 100%;
        max-width: 450px;
        aspect-ratio: 1/1;
}

.about-title h2,
.diferencial h2 {
        font-weight: 500;
        width: 100%;
        font-size: clamp(1.2rem, 2.5vw, 1.4rem);
}

.about-text,
.diferencial-text {
        width: 100%;
        max-width: 600px;
        text-align: justify;
}


/* photo gallery */
#photo-gallery {
        background-color: var(--preto-azulado);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        min-height: 80vh;

}

.slide-container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 2rem 0;
}

.slide-draggable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: grab;

}

.slide-draggable:active {
        cursor: grabbing;
}

.slide-display {
        width: 100%;
        max-width: 1300px;
        margin: auto;
        display: flex;
        overflow-x: hidden;
}

.slide-track {
        display: flex;
        gap: 1rem;
}

.slide-controls {
        display: none;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        /* Alinha verticalmente ao centro */
        left: 50%;
        /* Alinha horizontalmente ao centro */
        transform: translate(-50%, -50%);
        z-index: 3;
}

.slide-control-prev,
.slide-control-next {
        cursor: pointer;
        width: 1.5rem;
}

.slide-dots-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
        z-index: 3;
}

.slide-dot {
        border-radius: 100%;
        border: none;
        width: 8px;
        background-color: #666666;
        aspect-ratio: 1/1;
        cursor: pointer;
}

.slide-dot.active {
        width: 9px;
        background-color: rgb(206, 14, 14);
}

.see-all {
        color: var(--branco);
        margin-left: auto;
        margin-right: 1rem;
        font-weight: 200;
        text-decoration: none;
}

/* opcoes */
.opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

}

/* cta */
.cta {
        background-color: var(--preto-azulado);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 50vh;
}

.cta-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        gap: 2rem;
        justify-content: space-around;
}

.cta-img {
        width: 100%;
        max-width: 300px;
        object-fit: contain;
}

.cta-text {
        padding: 1rem;
        font-weight: 200;
        width: 100%;
        max-width: 375px;
}

.cta-btn {
        width: 150px;
        font-size: 1rem;
        margin-left: 1rem;
}

/* footer */
.footer {
        width: 100vw;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;

        min-height: 40vh;
        text-align: left;
        gap: 4rem;
        background-color: var(--preto);
}

.footer-row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        max-width: calc(700px + 8rem);
}

.footer-item {
        display: flex;
        flex-direction: column;
        height: 100%;
}


.footer-logo {
        width: 100%;
        max-width: 420px;
        gap: 1rem;


}

.footer-logo img {
        width: 60%;
        max-width: 200px;
        margin-top: 0;
}

.footer-logo p {
        text-align: justify;
        font-weight: 300;
        font-size: .9rem;
}


.footer-icone {
        width: 2rem;
        height: 2rem;
}

.contact-us,
.follow-us {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
}

.footer-contact,
.follow-us-link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: var(--branco);
        font-weight: 300;
        gap: 1rem;
        align-items: center;
}


.footer-contact p {
        margin: 0;
}

.footer-contact:hover,
.follow-us-link:hover,
.footer-link:hover {
        color: var(--vermelho);

}

.footer-nav {
        display: flex;
        flex-direction: column;
        min-width: 200px;
}

.footer-nav-list {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

.footer-nav-list a {
        text-decoration: none;
        color: var(--branco);
        font-weight: 300;
}

.dev-contact {
        background-color: var(--preto-azulado);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        color: var(--branco);
        font-weight: 300;
        font-size: clamp(.8rem, 2.5vw, .8rem);
        padding: 2rem;
        margin-top: -1px;
}

.dev-contact-preto {
        background-color: var(--preto);
}

.dev-info {
        display: flex;
        gap: 3rem;
}

.dev-contact p {
        margin: 0;
}

.dev-contact a {
        text-decoration: none;
        color: var(--branco);
}

.dev-medias img {
        width: 1.5rem;
}

/* scrool bar */
::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: var(--cinza-claro);
}

::-webkit-scrollbar-track {
        background: var(--preto-azulado);
        border-radius: 10px;
}

::-webkit-scrollbar-thumb {
        background-color: var(--cinza-claro);
        border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: var(--cinza-claro);
}

::-webkit-scrollbar-horizontal {
        height: 8px;
}

::-webkit-scrollbar:horizontal {
        display: none;
}

@media (min-width: 768px) {

        .about,
        .diferencial {
                padding: 0;
        }

        .about-article {
                flex-direction: row;
        }

        .diferencial-article {
                flex-direction: row-reverse;
        }

        .about-img,
        .diferencial-img {
                max-width: 300px;
        }



        .footer-row {
                flex-direction: row !important;
                justify-content: space-between;
        }

        .footer-nav {
                display: flex;
                flex-direction: column;
        }

        .footer-logo {
                width: 100%;
                max-width: 420px;
                align-self: center;

        }

}

@media (min-width: 1020px) {

        .ham-menu,
        .nav-icons {
                display: none;
        }

        .horizontal-menu {
                display: block;
        }

        .footer {
                flex-wrap: nowrap;
                gap: 4rem;
        }

        .footer-logo {
                width: 100%;
                max-width: 420px;
                align-self: flex-start;

        }

}

@media (min-width: 1600px) {
        .logo {
                position: absolute;
        }

        .ham-menu,
        .nav-icons {
                display: none;
        }


        .horizontal-menu {
                display: block;
        }

        .header {
                padding: 1rem 2rem;
        }

}

@media (min-width: 768px) {
        .footer-nav {
                display: block;
        }
}

@media (min-width: 1080px) {
        .footer {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 4rem;
        }
}