@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
}

:root {
        --branco: #f5f5f5;
        --cinza-claro: #666666;
        --cinza-escuro: #363636;
        --fonte-principal: "Poppins", sans-serif;
        --highlight-color: #ff4500;
        --preto: #18191b;
        --preto-azulado: #0c0c0d;
        --vermelho: #af1e22;
        --dourado: #B79675;
        font-size: 14px;
}

body {
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-width: 375px;
        font-feature-settings: "liga", "clig", "calt";
        font-feature-settings: "liga", "clig", "calt";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        /* Para WebKit (Chrome, Safari) */
        -moz-osx-font-smoothing: grayscale;
        /* Para Firefox no macOS */
}

section {
        width: 100vw;
        padding: 4rem 0;
        min-height: 70vh;
        margin-top: -1px;
}

a {
        transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover,
button:hover {
        transform: scale(1.05);
}

p,
a,
li {
        font-family: var(--fonte-principal)
}


h1,
h2,
h3 {

        font-family: "Montserrat", sans-serif;
        font-weight: 300;
}

main {
        position: relative;
}



.detalhe-vertical {
        position: relative;
        display: inline-block;

}

.detalhe-vertical {
        padding-left: 10px;
        border-left: 1.5px solid var(--vermelho);
        padding: 0 1rem;
}

.detalhe-div {
        width: 60%;
        max-width: 110px;
        height: 1.5px;
        margin: 0 auto;
        background-color: var(--vermelho);
}

.content {
        height: 2000px;
        padding: 10px;
        box-sizing: border-box;
}

.voltar-ao-topo-container {
        position: relative;
}

.voltar-ao-topo {
        position: fixed;
        bottom: 60px;
        right: 10px;
        padding: 10px;
        text-align: center;
        z-index: 100;

}

.voltar-ao-topo::before {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--branco, white);
        z-index: -1;
}

.voltar-ao-topo img {
        filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.274));
}

.zoom {
        transition: all 0.4s ease-in-out;

}

.zoom:hover {
        transform: scale(1.15);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.desktop,
.tablet {
        display: none;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
        .tablet {
                display: flex;
        }

        .mobile {
                display: none;
        }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        .desktop {
                display: flex;
        }

        .tablet {
                display: flex;
        }

        .mobile {
                display: none;
        }
}

/* header */
.header {
        --text-color: var(--cinza-claro);
        --text-color-hover: var(--preto);
        --bg-color: var(--branco);
        --bg-ham: var(--preto);
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        width: 100vw;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color);
        height: 60px;
        z-index: 25;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.144);
}

.header.header-dark {
        --text-color: #f5f5f5ef;
        --bg-color: var(--preto);
        --bg-ham: var(--branco);
        --text-color-hover: var(--cinza-claro);
        font-weight: 200;

}

/* header contact */
.contact {
        background-color: var(--preto-azulado);
        color: var(--branco);
        width: 100%;
        height: var(--contact-height);
        justify-content: space-around;
        position: relative;
        font-size: .8rem;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 26;
        padding: .5rem;
}

.contact div {
        display: flex;
        align-items: center;
}

.contact img {
        width: 20px;
        margin-left: 1rem;
        margin-right: .5rem;

}

.contact-link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--branco);
}

.contact-link:hover {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--vermelho);
}

.contact p {
        margin: 0;
}

.contact-link-desktop {
        display: none;
}

.contact-link-mobile {
        display: flex;
}

.header a,
li,
.header a:visited {
        color: var(--text-color);
        text-decoration: none;
}

.header a:hover,
.header .accordion-label:hover {
        color: var(--text-color-hover);
}

.logo {
        width: 50%;
        max-width: 210px;
}

.logo img {
        width: 100%;
}

.zara-logo {
        max-width: 100px;
}


/* off-screen-menu */
.off-screen-menu {
        align-items: left;
        background-color: var(--bg-color);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);
        display: flex;
        flex-direction: column;
        font-family: var(--font-princial);
        font-size: 1rem;
        height: 100vh;
        justify-content: space-around;
        max-width: 450px;
        padding: 1rem 0;
        position: fixed;
        right: -650px;
        text-align: left;
        transition: .6s ease-in-out;
        top: 0;
        width: 80%;

}

.off-screen-menu.active {
        right: 0;
}



/* nav */
nav {
        padding: 1rem;
        display: flex;
        background-color: var(--bg-color);

}

.nav-list {
        padding: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

}


/* ham menu */
.ham-menu {
        height: 30px;
        width: 25px;
        margin-left: auto;
        position: relative;
}

.ham-menu span {
        height: 2px;
        width: 100%;
        background-color: var(--bg-ham);
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
}

.ham-menu span:nth-child(1) {
        top: 25%;
}

.ham-menu span:nth-child(3) {
        top: 75%;
}


.ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
        opacity: 0;
}

.ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
}

/* Accordion */

.nav-accordion input {
        display: none;
}

.nav-accordion label {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
}

.nav-accordion-content {
        padding: 1rem 1rem 1rem 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .6s ease-in-out;
        background-color: var(--bg-color);
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        opacity: 0;
}

.nav-accordion-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-left: 1.5px solid var(--vermelho);
        padding: 0 1rem 0 1rem;
}


.nav-arrow {
        transition: transform 0.3s ease-in-out;
}

.nav-arrow img {
        width: 1rem;
}


[id^=accordion]:checked~.nav-accordion-content {
        max-height: 1000px;
        opacity: 1;
}

/* icones */
.nav-icons {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;

}

.nav-icons .nav-link img {
        width: 20px;
}

.horizontal-menu {
        display: none;
        width: 100%;
}

.horizontal-menu-list {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        gap: 3rem;
        z-index: 1;
        margin-bottom: 0;
}

.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1;
}


@media (min-width: 980px) {
        .contact-link-mobile {
                display: none;
        }

        .contact-link-desktop {
                display: flex;
        }

}

@media (min-width: 1600px) {
        .logo {
                position: absolute;
        }

        .ham-menu,
        .nav-icons {
                display: none;
        }


        .horizontal-menu {
                display: block;
        }

        .header {
                padding: 1rem 2rem;
        }

}

/* buttons */
.btn-preto,
.btn-vermelho {
        text-decoration: none;
        color: var(--branco);
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: .9rem;
        width: 270px;
        height: 56px;
        vertical-align: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 4px;
}

.btn-preto {
        background-color: var(--preto);
        color: var(--branco);
}

.btn-vermelho {
        background-color: var(--vermelho);
}

.btn-preto:hover {
        background-color: var(--preto);
        color: var(--branco);
}

.btn-vermelho:hover {
        background-color: var(--vermelho);
}

.button {
        font-family: "Poppins";
        width: 80%;
        max-width: 250px;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        margin: 10px 0;
        position: relative;
        display: inline-block;
        font-size: 16px;
        border: none;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 5px #0000008a;
        text-shadow: 2px 2px 2px #000;
        font-weight: 300;
}

.button.btn-preto {
        --btn-color: var(--preto);

}

.button.btn-vermelho {
        --btn-color: var(--vermelho);
        background-color: transparent;
        border: 1px solid var(--vermelho);
        color: var(--vermelho);
}

.button.btn-transparent-white {
        --btn-color: #faa500;
        background-color: #f5f5f500;
        border: 1px solid var(--branco);
        backdrop-filter: blur(1px);

}

.button.btn-transparent-black {
        --btn-color: var(--preto);
        color: var(--preto);
        border: 1px solid var(--preto);
        backdrop-filter: blur(1px);
        text-shadow: none;

}

.button.btn-golden {
        --btn-color: var(--dourado);
        color: var(--dourado);
        border: 1px solid var(--dourado);
        backdrop-filter: blur(1px);
        text-shadow: none;
        box-shadow: none;

}

.button:hover {
        color: var(--branco);
        backdrop-filter: none;

}

.button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        background-color: var(--btn-color);
        box-shadow: 0 0 10px 60px var(--btn-color);
        z-index: -1;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: width .9s ease-in-out, opacity 0.3s ease-out;
        opacity: 0;
}

.button:hover::before {
        width: 200%;
        height: 200%;
        opacity: 1;
        transition: width .8s ease-in-out, opacity 0.6s ease-out;
}


.button span {
        position: relative;
        z-index: 1;
}

/* footer */
.footer {
        width: 100vw;
        color: var(--branco);
        background-color: var(--preto);
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4rem;
        min-height: 40vh;
        margin: auto;
        margin-top: -1px;
}

.footer-dark {
        background-color: var(--preto-azulado);
}

.footer div {
        width: 100%;
        max-width: 375px;
}

.footer-logo {
        width: 100%;
        max-width: 380px;
}

.footer-logo img {
        width: 60%;
        max-width: 200px;
        margin-top: 0;
}

.footer-logo p {
        text-align: justify;
        font-weight: 300;
        font-size: .9rem;
}


.footer-icone {
        width: 2rem;
        height: 2rem;
}

.contact-us,
.follow-us {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
}

.footer-contact,
.follow-us-link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: var(--branco);
        font-weight: 300;
        gap: 1rem;
        align-items: center;
}

.footer-contact-mobile {
        display: flex;
}

.footer-contact-desktop {
        display: none;
}

.footer-contact p {
        margin: 0;
}

.footer-contact:hover,
.follow-us-link:hover,
.footer-link:hover {
        color: var(--vermelho);

}

.footer-nav {
        display: none;
}

.footer-nav-list {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

.footer-link {
        text-decoration: none;
        color: var(--branco);
        font-weight: 300;
}


.dev-contact {
        background-color: var(--preto-azulado);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        color: var(--branco);
        font-weight: 300;
        font-size: clamp(.8rem, 2.5vw, .8rem);
        padding: 2rem;
        margin-top: -1px;
}

.dev-contact-preto {
        background-color: var(--preto);
}

.dev-info {
        display: flex;
        gap: 3rem;
}

.dev-contact p {
        margin: 0;
}

.dev-contact a {
        text-decoration: none;
        color: var(--branco);
}

.dev-medias img {
        width: 1.5rem;
}

@media (min-width: 768px) {
        .footer-nav {
                display: block;
        }
}

@media (min-width: 1080px) {
        .footer-contact-mobile {
                display: none;
        }

        .footer-contact-desktop {
                display: flex;
        }

        .footer {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 4rem;
        }
}

/* scroolbar */
::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: rgba(18, 18, 18, 0.226);
}

::-webkit-scrollbar-track {
        background: rgba(245, 245, 245, 0.5);
        border-radius: 10px;
}

::-webkit-scrollbar-thumb {
        background-color: rgba(18, 18, 18, 0.5);
        border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: rgba(43, 43, 43, 0.5);
}

::-webkit-scrollbar-horizontal {
        height: 8px;
}

::-webkit-scrollbar:horizontal {
        display: none;
}

/* whatsapp button */
.whatsapp-btn {
        position: fixed;
        background-color: #42B759;
        width: 155px;
        height: 30px;
        bottom: 40px;
        right: 16px;
        z-index: 100;
        padding: 6px;
        font-size: 0.6rem;
        border-radius: 15px;
        border: 2px solid var(--branco);
        opacity: 0.95;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.274);

}

.whatsapp-link {
        justify-content: space-around;
        align-items: center;
        text-decoration: none;

}

.whatsapp-link-mobile {
        display: flex !important;
}

.whatsapp-link-desktop {
        display: none !important;
}

.whatsapp-img {
        width: 15px;
}

.whatsapp-link p {
        margin: 0;

}

@media (min-width: 1080px) {
        .whatsapp-link-desktop {
                display: flex !important;
        }

        .whatsapp-link-mobile {
                display: none !important;
        }
}

/* home */
#home {
        position: relative;
        min-height: 0;
        padding: 2rem 0 0;
}

.home-container {
        display: flex;
        flex-direction: column;
        position: relative;
        border-bottom: 1px solid var(--dourado);
}

.home-title {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
}

.home-capa {
        width: 100%;
        height: 60vh;
        background: url("../img/capa-zara.webp") center/cover no-repeat;
        background-attachment: fixed;
        position: relative;
}

/* about */
.about {
        padding: 1rem 2rem;
        min-height: 0;
        max-width: 800px !important;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 50vh;
}

#about .button {
        margin: auto;
}


.about-title h2 {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        color: var(--dourado);
        width: 100%;
        font-size: clamp(1.5rem, 2.5vw, 1.6rem);
}

.about-title h1 {
        font-weight: 400;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-size: clamp(2.5rem, 2.5vw, 1.6rem);
}

.about-text {
        width: 100%;
        text-align: justify;
}

/* diferencial */
.diferencial {
        padding: 1rem 2rem;
        min-height: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        gap: 2rem;
        width: 100vw;
        max-width: 1080px;

}

.diferencial h2 {
        font-weight: 400;
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: 1rem auto;
        font-size: clamp(2.5rem, 2.5vw, 1.6rem);
}

.diferencial-text {
        width: 100%;
        text-align: justify;
        max-width: 600px;
}

.diferencial .button {
        margin: auto;
}

/* photo gallery */
#photo-gallery {
        overflow: hidden;
        text-align: center;
        background-color: var(--preto-azulado);
        color: var(--branco);
        letter-spacing: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
}

.photo-gallery h2 {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        text-align: center;
        width: 100%;
        font-size: clamp(2.1rem, 2.5vw, 1.6rem);
}

.carousel-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 300px;
        margin-top: 2rem;
        max-width: 1600px;
}

.img-container {
        margin: 10px;
        height: 100%;
        width: 100% !important;
        max-height: 375px;
        max-width: 375px !important;
}

.img-container img {
        width: 100%;

}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
        color: var(--branco);
}